<h1>Expense Categories</h1>
<%= link_to 'New Expense', new_expense_category_path , class: 'btn btn-success' %>
<br><br>
<div class="row">
  <table class="table">
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-3">Created By</th>
      <th class="col-xs-3">Updated By</th>
      <th class="col-xs-2"></th>
    </tr>
    <% @expense_categories.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= expense.creater.name %></td>
          <td><%= expense.updater.name %></td>
          <td>
            <%= link_to 'Edit', edit_expense_category_path(id: expense.id), class: 'btn btn-success' %>
            <%= link_to 'Delete', expense_category_path(id: expense.id), class: 'btn btn-danger', method: :delete %>
          </td>
        </tr>
    <% end %>

  </table>

</div>
