 <h1 align="center">Profile</h1>
 <div class="beautiful_line"></div>
  <div class="row">

    <div class="col-xs-9">
      <h3>Personal</h3>
      <hr class="hr">
      <table>
        <tr>
          <td><b>Name: </b></td>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <td><b>Email: </b></td>
          <td><%= current_user.email %></td>
        </tr>
      </table>
      <br>
      <h3>Company</h3>
      <hr class="hr">
      <table>
        <tr>
          <td><b>Company Name: </b></td>
          <td><%= current_user.company.name %></td>
        </tr>
        <tr>
          <td><b>Subdomain: </b></td>
          <td><%= current_user.company.subdomain %></td>
        </tr>
      </table>
      <br>
      <h3>Invitations</h3>

      <table class="table col-xs-12">
        <tr>
          <th class="col-xs-2">Name</th>
          <th class="col-xs-2">Email</th>
          <th class="col-xs-2">Status</th>
          <th class="col-xs-2">Role</th>
          <th class="col-xs-1"></th>
        </tr>
        <% @invited_for_company.each do |invited| %>
            <tr>
              <td><%= invited.name %></td>
              <td><%= invited.email %></td>
              <td><%= invited.invitation_accepted_at.present? ? 'Accepted':invited.id == @user.id ? 'Owner':'Pending' %></td>
              <td><%= current_user.role.title%></td>
              <td><%= link_to 'View', home_path(id: invited.id), class: 'btn btn-sm btn-primary' %></td>
            </tr>
        <% end %>
      </table>

      <p align="right"><%= link_to 'Invite User', new_user_invitation_path, class: 'btn btn-success' %></p>
      <br>
    </div>

    <div class="col-xs-3">
      <h3>Profile Picture</h3>
      <hr class="hr">
      <%= image_tag current_user.avatar.url(:thumb) %>

    </div>

  </div>




