<div class="col-md-6 col-md-offset-3">
  <h1>New Income</h1>
  <%= form_for(@income) do |f| %>
      <% if @income.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

            <ul>
              <% @income.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :amount %><br />
        <%= f.text_field :amount, autofocus: true, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description ,class: "form-control" %>
      </div>

      <div class="field ">
        <%= f.label :category %><br />
        <%= collection_select(:income, :income_category_id, IncomeCategory.where(company_id: current_user.company.id), :id, :name,
                              {prompt: 'Select Category'},{class: "form-control form-group"}) %>
      </div>

      <div class="field">
        <%= f.hidden_field :company_id, value: current_user.company.id %>
      </div>


      <div class="field">
        <%= f.label :date %><br />
        <%= f.date_field :date,class: "form-control"   %>
      </div>
      <br>

      <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
  <% end %>



</div>