<h1 class="center">Incomes</h1>
<div class="beautiful_line"></div>


<div class="center">
  <%= form_tag incomes_path, method: 'get', remote: true do %>
      <b>Start Date: </b><input type="text" name="start_date" class="date-input" value="<%=params[:start_date]%>"/>&nbsp;

      <b>End Date: </b><input type="text" name="end_date" class="date-input" value="<%=params[:end_date]%>"/>&nbsp;

      <%= label_tag :user, 'User: ' %>
      <%= collection_select('', :user_id, @users , :id, :name, {selected: params[:user_id], include_blank: 'All'},{ class: 'btn btn-sm btn-default '})%>&nbsp;

      <%= label_tag :category, 'Category: ' %>
      <%= collection_select('', :category_id, @income_categories, :id, :name, {selected: params[:category_id], include_blank: 'All'},{ class: 'btn btn-sm btn-default '})%>&nbsp;

      <%= submit_tag('Go', class: 'btn btn-sm btn-primary') %>


      <div class="dropdown">
        <button class="dropbtn">Export</button>
        <div class="dropdown-content">
          <a href="<%=incomes_path(start_date: params[:start_date],end_date: params[:end_date], user_id: params[:user_id], category_id: params[:category_id], format: :pdf)%>">Pdf</a>
          <a href="<%=incomes_path(start_date: params[:start_date],end_date: params[:end_date], user_id: params[:user_id], category_id: params[:category_id],format: :xls)%>">Xls</a>
        </div>
      </div>


  <% end %>
</div>

<br>


<% if policy(:income).new? %>
    <div class="center">
      <%= link_to 'New Income', new_income_path , class: 'center btn btn-lg btn-success', remote: true  %>
    </div>
    <br>
<% end %>


<table id="incomes" class="table">
  <thead>
  <tr>
    <th class="col-xs-1">Amount</th>
    <th class="col-xs-1">Date</th>
    <th class="col-xs-1">Category</th>
    <th class="col-xs-1">Created By</th>
    <th class="col-xs-1">Updated By</th>
    <th class="col-xs-1">Attachment</th>
    <th class="col-xs-1"></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'income', collection: @incomes %>
  </tbody>
</table>
<hr class="hr">

<h2 class="center">Analytics</h2>
<div class="beautiful_line"></div>
<div id="chart" >
<%= pie_chart @income_category_count %>
</div>