<div class="col-md-6 col-md-offset-3">

  <h2 class="center"><%= t "devise.invitations.new.header" %></h2>
  <div class="beautiful_line"></div>

  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

      <%# resource.class.invite_key_fields.each do |field| -%>
      <%#= f.label field %>
      <%#= f.text_field field %>
      <%# end -%>


      <p><%= f.label :email %><br />
        <%= f.text_field :email,{class: 'form-control'} %></p>

      <p><%= f.label :name %><br />
        <%= f.text_field :name,{class: 'form-control form-group'} %></p>

      <p><%= f.label :role %><br />
        <%= f.collection_select(:role_id, current_user.company.roles, :id, :title,
                                {prompt: 'Select Category'},{class: 'form-control form-group'}) %></p>

      <p>
        <%= f.hidden_field :company_id, value: current_user.company_id %></p>

      <p><%= f.submit t("devise.invitations.new.submit_button"), {class: 'btn btn-primary'} %></p>

  <% end %>

</div>
