<h1 class="center">Transactions</h1>
<div class="beautiful_line"></div>

<div class="center">
  <%= form_tag transactions_path, method: 'get', remote: true do %>
      <b>Start Date: </b><input type="text" name="start_date" class="date-input" value="<%=params[:start_date]%>"/>&nbsp;

      <b>End Date: </b><input type="text" name="end_date" class="date-input" value="<%=params[:end_date]%>"/>&nbsp;

      <%= label_tag :user, 'User: ' %>
      <%= collection_select('', :user_id, @users , :id, :name, { selected: params[:user_id], include_blank: 'All'}, class: 'btn btn-sm btn-default' )%>&nbsp;

      <%= label_tag :type, 'Show: ' %>
      <%= select_tag :type, options_for_select(Transaction::TYPE, params[:type]), class: 'btn btn-sm btn-default '%>&nbsp;

      <%= submit_tag('Go', class: 'btn btn-sm btn-primary') %>



      <div class="dropdown">
        <button class="dropbtn">Export</button>
        <div class="dropdown-content">
          <a href="<%=transactions_path(start_date: params[:start_date], end_date: params[:end_date], user_id: params[:user_id], type: params[:type], format: :pdf)%>">Pdf</a>
          <a href="<%=transactions_path(start_date: params[:start_date], end_date: params[:end_date], user_id: params[:user_id], type: params[:type], format: :xls)%>">Xls</a>
        </div>
      </div>


  <% end %>
</div>

<br>

<table id="transactions" class="table">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Date</th>
    <th>Type</th>
    <th class="col-xs-2">Transaction By</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'transaction', collection: @transactions %>
  </tbody>
</table>
<hr class="hr">

<%= will_paginate @transactions, class: 'pagination' %>
<br>

<h2 class="center">Analytics</h2>
<div class="beautiful_line"></div>
<div id="chart">
  <%= pie_chart @transaction_type_count %>
</div>
