<tr data-id="<%= expense.id %>">
  <td><%= expense.amount%></td>
  <td><%= expense.date.strftime('%d %b, %Y')%></td>
  <td><%= expense.expense_category.name %></td>
  <td><%= expense.creater.name %></td>
  <td><%= expense.updater.name %></td>
  <td><%= link_to_if !expense.attachment.blank?, 'Download', expense.attachment.url, target: '_blank' %></td>
  <td>
    <% if policy(:expense).edit? %>
        <%= link_to 'Edit', edit_expense_path(id: expense.id), class: 'btn btn-sm btn-primary', remote: true %>
    <% end %>
    <% if policy(:expense).destroy? %>
        <%= link_to 'Delete', expense_path(id: expense.id), class: 'btn btn-sm btn-danger', method:  :delete, remote: true %>
    <% end %>
  </td>
</tr>