<h1>Expenses</h1>
<hr class="hr">

<%= form_tag(expenses_path, method: 'get') do %>
    <b>Start Date: </b><input type="text" name="start_date" class="date-input" value="<%=params[:start_date]%>"/>&nbsp;

    <b>End Date: </b><input type="text" name="end_date" class="date-input" value="<%=params[:end_date]%>"/>&nbsp;

    <%= label_tag :user, 'User: ' %>
    <%= collection_select('', :user_id, @users , :id, :name, {selected: params[:user_id], include_blank: 'All'},{ class: 'btn btn-sm btn-default '})%>&nbsp;

    <%= label_tag :category, 'Category: ' %>
    <%= collection_select('', :category_id, @expense_categories, :id, :name, {selected: params[:category_id], include_blank: 'All'},{ class: 'btn btn-sm btn-default '})%>&nbsp;

    <%= submit_tag('Go', class: 'btn btn-sm btn-primary') %>

    <span class="dropdown"><button href="#" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">Export&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="<%=expenses_path(start_date: params[:start_date],end_date: params[:end_date], user_id: params[:user_id], category_id: params[:category_id], format: :pdf)%>">Pdf</a></li>
        <li><a href="<%=expenses_path(start_date: params[:start_date],end_date: params[:end_date], user_id: params[:user_id], category_id: params[:category_id],format: :xls)%>">Xls</a></li>
      </ul>
    </span>


<% end %>

<hr class="hr">

<%= link_to 'New Expense', new_expense_path , class: 'btn btn-sm btn-success' %>
<br><br>

<table class="table">
  <tr>
    <th class="col-xs-1">Amount</th>
    <th class="col-xs-1">Date</th>
    <th class="col-xs-2">Category</th>
    <th class="col-xs-1">Created By</th>
    <th class="col-xs-1">Updated By</th>
    <th class="col-xs-1">Attachment</th>
    <th class="col-xs-1"></th>
  </tr>
  <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount%></td>
        <td><%= expense.date.strftime('%d %b, %Y')%></td>
        <td><%= expense.expense_category.name%></td>
        <td><%= expense.creater.name %></td>
        <td><%= expense.updater.name %></td>
        <td><%= link_to_if !expense.attachment.blank?, 'Download', expense.attachment.url, target: '_blank' %></td>
        <td>
          <%= link_to 'Edit', edit_expense_path(id: expense.id), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Delete', expense_path(id: expense.id), class: 'btn btn-sm btn-danger', method:  :delete %>
        </td>
      </tr>
  <% end %>
</table>

<!--<a  href="<%#=expenses_path%>"><i class="fa fa-tags"></i>-->
<!--</a>-->
<legend><h2>Analytics</h2></legend>
<%= pie_chart @expense_category_count %>

